name: Push

on:
  push:
    tags-ignore:
      - '*'
    branches:
      - '*'

jobs:
  push:
    
    runs-on: ubuntu-latest
    env:
      TZ: Asia/Tokyo

    steps:
        
    - name: Checkout Repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 1
        
    - name: echo
      run: |
        ls -all
        mkdir -p ./test2
        echo "test2" >> ./test2/test.txt
        ls -all
        sudo chown -R root:root test2
        ls -all
